PORT=
MONGO_URI=
JWT_SECRET=

JWT_REFRESH_SECRET=

CLOUDINARY_CLOUD_NAME=

CLOUDINARY_API_KEY=

CLOUDINARY_API_SECRET=

GEMINI_API_KEY=
GEMINI_API_KEY_2=

GEMINI_MODEL_NAME=

FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=

BREVO_API_KEY=
MAIL_FROM=


BANK_CODE=
BANK_ACCOUNT=
BANK_ACCOUNT_NAME=
VIETQR_TEMPLATE=

PUBLIC_URL=

INTERNAL_API_KEY=